<div class="jumbotron jumbotron-fluid card card-image"
    style="background: blue;">
    <div class="text-white text-center py-5 px-4">
        <div>
            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Create your beautiful website with
                    MDBootstrap</strong></h2>

            <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> View project</a>
        </div>
    </div>
</div>
{{!-- texto --}}
<div>
    <div class="container ">
        <h1 class="text-center">Ensino</h1>
        <div class="text-columns">


            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis diam convallis, interdum nunc
                luctus,
                ornare
                purus. Donec ac nisl a lectus facilisis luctus ut id leo. Aliquam iaculis ac orci ut maximus. Duis
                cursus
                fringilla diam quis sollicitudin. Praesent et quam aliquet mauris dapibus fringilla. Fusce iaculis
                accumsan
                ex
                id efficitur. Duis vel purus a dolor convallis porta. Maecenas tempor, orci sit amet iaculis mollis,
                orci
                neque
                lacinia lorem, commodo malesuada mauris orci at ligula. Integer congue, libero vitae consectetur
                hendrerit,
                dui
                magna accumsan ex, at finibus leo purus sit amet augue.

                Pellentesque volutpat rhoncus justo a sollicitudin. Vestibulum lacinia, neque ac commodo fermentum,
                metus
                nunc
                malesuada magna, at lacinia sapien nunc a quam. Nunc sodales nulla et sem rutrum sagittis. Sed
                vulputate,
                tellus
                non dignissim cursus, mauris lorem tempor mi, et aliquam neque lacus quis lorem. Maecenas consectetur
                dictum
                dui
                quis faucibus. In feugiat, turpis ac dapibus consequat, erat orci porta diam, in fringilla ipsum sapien
                et
                eros.
                Donec accumsan felis vel quam iaculis faucibus.

                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Suspendisse
                faucibus quis quam ut ultrices. Mauris a ante mattis, elementum risus at, luctus nisi. Sed euismod diam
                faucibus
                eros egestas scelerisque. Aliquam condimentum neque vitae sollicitudin suscipit. Ut posuere pulvinar
                sollicitudin. Praesent vehicula turpis aliquet dolor dignissim, at placerat erat volutpat. Aenean leo
                massa,
                interdum tempus purus nec, tincidunt pulvinar sapien. Maecenas metus quam, lacinia sed velit sit amet,
                volutpat
                pharetra orci. Nam lacinia accumsan urna, sed fringilla massa cursus ac. Phasellus suscipit velit a diam
                molestie, a ultricies elit laoreet.

                Nulla cursus neque et pretium efficitur. Vivamus quis sagittis justo, sit amet vulputate dui. Praesent
                et
                erat
                ut risus vulputate commodo in id mauris. Integer sed felis mauris. Praesent porta auctor metus quis
                iaculis.
                In
                a felis vitae dolor convallis dictum vel at nunc. Phasellus ultrices congue odio, nec imperdiet erat
                ultrices
                in. Nullam sit amet augue dignissim, vulputate lorem iaculis, semper tortor. Nam venenatis urna
                consectetur,
                faucibus est sit amet, consectetur justo. Pellentesque pulvinar commodo nunc sed elementum. Ut eleifend
                ligula
                vehicula commodo interdum. Curabitur eu tellus vehicula, accumsan enim non, pharetra orci.

                Pellentesque eleifend ipsum nec hendrerit varius. Etiam ultrices iaculis malesuada. Duis nec tellus quis
                purus
                sagittis ornare. Pellentesque eu sem in dolor eleifend rutrum. Aliquam malesuada turpis vel dolor
                ultrices,
                sed
                interdum ante mattis. Donec blandit venenatis cursus. Nullam ornare eget ipsum et semper. Nunc cursus
                elit
                varius, lacinia ipsum sit amet, auctor urna. Etiam sollicitudin velit augue. Nunc eleifend venenatis
                libero,
                ut
                mattis lectus fermentum vel. Vestibulum tempor lectus vulputate nulla vulputate, eu lacinia erat
                egestas. In
                tortor nulla, hendrerit quis metus sed, scelerisque gravida eros.

                Generated 5 paragraphs, 443 words, 3047 bytes of Lorem Ipsum</p>
        </div>
    </div>
</div>

{{!-- Lista de professores bd --}}
<div>
    <div class="container text-center">
        <h4>Professores</h4>
    </div>
</div>