<div class="jumbotron jumbotron-fluid card card-image" style="background-image: url(/images/ensino/colegio-militar.jpg); 
background-size: cover; background-repeat: no-repeat; height: 25rem;"></div>

{{!-- texto --}}
<div>
    <div class="container area-ensino-home">
        <h1 class="text-center">Ensino Médio</h1>
        <div>
            <p>
                {{!-- Localizado em uma área ampla, com prédio moderno e instalações seguras, o Colégio Vila Militar Unicampo está estruturado de forma que possa
                atender às demandas dos estudantes, professores, coordenadores e diretores. Encontrando-se estruturado da seguinte forma: --}}
            </p>
        </div>
    </div>
</div>

{{!-- Apresentação --}}
<div>
    <div class="container text-center area-ensino-apre">
        <h3 class="p-2 rounded-pill mb-5 ">Apresentação</h3>
        <img src="/images/ensino/banner2-ensino.png" alt="Ensino Médio">
        <div class="text-columns">
            <p>
                O Ensino Médio prepara o adolecente para participar de uma 
                sociedade complexa,como a atuale por isso requer aprendizagem
                autônoma e contínua ao longo da vida. É o desafio que se tem pela
                frente no Colégio Vila Militar. O planejamento e o desenvolvimento
                orgênico do currículo superam a organização por disciplinas
                estanques. A integração e a articulação dos conhecimentos, em 
                processo permanente de interdisciplinaridade e contextualização,
                contribuem para um aprendizagem significativa, acatando as 
                orientações de aprendizagem militarizada.
            </p>
        </div>
    </div>
</div>

{{!-- Matriz curricular --}}
<div>
    <div class="container text-center area-ensino-matriz">
       <h3 class="text-center  p-2 rounded-pill mb-5 ">Matriz Curricular</h3>
        <div class="">
            <img src="/images/ensino/matriz-ensino.png" alt="Ensino Médio">
            <p>
                <br/>
                Matriz Curricular de Acordo com a LDB – 9394/96<br> 
                <br/>
                - Serão ofertados cinco dias da semana, no período matutino, com 6 aulas de 45 minutos por dia; e, dois<br/>
                dias da semana, no período vespertino, com 4 aulas de 45 minutos por dia.<br/>
                - (*) A disciplina de LEM Espanhol é de oferta obrigatória, porém facultativa ao aluno.
            </p>
        </div>
    </div>
</div>

{{!-- Sistema avaliativo --}}
<div>
    <div class="container text-center area-ensino-sistema">
    <h3 class="text-center  p-2 rounded-pill mb-5 ">Sistema de Avaliação</h3>
        <div class="text-columns">
            <p>
                A construção do saber em um sentido bastante amplo só será
                significativa à medida que o estudante conseguir estabelecer uma
                relação não arbitrária e substantiva entre os conteúdos escolares e os
                conhecimentos previamente construídos por eles, em um processo
                de articulação dos significados.

                A ação educacional do CVM-UNICAMPO tem como objetivos gerais
                em sua proposta avaliativa:

                <ul>
                    <li>
                        Permitir ao aluno desenvolver atitudes e incorporar valores
                        familiares, sociais e patrióticos que lhe assegure um futuro de
                        cidadão patriota, cônscio de seus deveres, direitos e responsabilidades, 
                        qualquer que seja o campo profissional de sua preferência;
                    </li>
                    <li>
                        Propiciar ao aluno a busca e a pesquisa continuadas de
                        informações relevantes;
                    </li>
                    <li>
                        Desenvolver no aluno a visão crítica dos fenômenos políticos,
                        econômicos, históricos, sociais e científico-tecnológicos,
                        ensinando-os, pois, a aprender para a vida e não mais, simplesmente,
                        para fazer provas;
                    </li> 
                    <li>
                        Preparar o aluno para refletir e compreender os fenômenos e não,
                        meramente, memorizá-los;
                    </li> 
                    <li>
                        Capacitar o aluno à absorção de pré-requisitos fundamentais ao
                    prosseguimento dos estudos acadêmicos e não de conhecimentos
                    supérfluos que se encerrem em si mesmos;
                    </li> 
                    <li>
                        Estimular o aluno para a saudável prática de atividade física,
                        buscando o seu desenvolvimento físico e incentivando a prática
                        habitual do esporte;
                    </li>
                    <li>
                        Despertar vocações para a carreira militar, caso o estudante assim
                        deseje.
                    </li>
                </ul>
                As avaliações ocorrem de maneira natural devido à conscientização
                sobre a importância do objeto de estudar ser constante.
            </p>
        </div>
    </div>
</div>

{{!-- Lista de professores --}}
<div class="jumbotron area-ensino-professor">
    <div class="container">
        <h3 class="text-center p-2 rounded-pill mb-5 ">Professores</h3>
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 text-center">
                <img src="/images/ensino/prof/prof-1.png" alt="teste" class="dif-icon">
                 <h5>Adriana Ferreira</h5>
                 <h6>Professora de Literatura</h6>
                <p>
                    <b>Graduação:</b> Letras<br/>
                    <b>Especialização:</b> Linguística Aplicada<br/>
                    ao Ensino de Língua Portuguesa e<br/>
                    Literatura Brasileira<br/>
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="/images/ensino/prof/prof2.png" alt="teste" class="dif-icon">
                 <h5>Allan José</h5>
                 <h6>Professor de Matemática</h6>
                <p>
                    <b>Graduação:</b> Matemática e Direito<br/>
                    <b>Especialização:</b> Direito Público eo<br/>
                    Educação Métodos e Técnicas de Ensino<br/>
                    <b>Mestrado:</b> Educação Matemática
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="/images/ensino/prof/prof3.png" alt="teste" class="dif-icon">
                 <h5>Andrea Barranco</h5>
                 <h6>Professora de Ciências e Biologia</h6>
                <p>
                    <b>Graduação:</b> Licenciatura plena em
                    Ciências Biológicas<br/>
                    <b>Especialização:</b> eurociências para
                    Educadores<br/> 
                </p>
            </div>
        </div>

        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 text-center">
                <img src="/images/ensino/prof/prof4.png" alt="teste" class="dif-icon">
                 <h5>Bruna Barco</h5>
                 <h6>Professora de Química</h6>
                <p>
                    <b>Licenciatura::</b> Química<br/>
                    
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="/images/ensino/prof/prof5.png" alt="teste" class="dif-icon">
                 <h5>Bruno Candelari</h5>
                 <h6>Professora de Geografia</h6>
                <p>
                    <b>Graduação:</b> Geografia<br/>
                    <b>Mestrado::</b>Geografia
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="/images/ensino/prof/prof6.png" alt="teste" class="dif-icon">
                 <h5>Bruno Marioti</h5>
                 <h6>Professora de Empreendedorismo</h6>
                <p>
                    <b>Graduação:</b> Administração<br/>
                    <b>Especialização:</b> Gestão Pública<br/>
                    <b>Mestrado::</b>Administração
                </p>
            </div>
        </div>

        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 text-center">
                <img src="/images/ensino/prof/prof7.png" alt="teste" class="dif-icon">
                 <h5>Celene Santini</h5>
                 <h6>Professora de Inglês</h6>
                <p>
                    <b>Graduação:</b> Letras<br/>
                    
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="/images/ensino/prof/prof8.png" alt="teste" class="dif-icon">
                 <h5>Danielli Carrião</h5>
                 <h6>Professora de Matemática</h6>
                <p>
                    <b>Graduação:</b> Matemática<br/>
                    <b>Especialização:</b> Educação,<br/>
                    Ciências e Tecnologias<br/>
                    <b>Mestrado::</b>Matemática
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="/images/ensino/prof/prof9.png" alt="teste" class="dif-icon">
                 <h5>Luiz Carlos</h5>
                 <h6>Professora de Física</h6>
                <p>
                    <b>Graduação:</b> icenciatura Plena em<br/>
                    Ciências e Física<br/>
                    <b>Especialização:</b> Ensino de Ciências,<br/>
                    Educação Especial e Gestão Escolar<br/>
                    <b>Mestrado::</b>Profissional no Ensino de Física
                </p>
            </div>
        </div>

        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 text-center">
                <img src="/images/ensino/prof/prof10.png" alt="teste" class="dif-icon">
                 <h5>Marco Antonio Berbel</h5>
                 <h6>Professora de ilosofia e Sociologia</h6>
                <p>
                    <b>Graduação:</b> Filosofia<br/>
                    <b>Mestrado::</b>Filosofia
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="/images/ensino/prof/prof11.png" alt="teste" class="dif-icon">
                 <h5>Marcos Henrique</h5>
                 <h6>Professora de Educação Física</h6>
                <p>
                    <b>Graduação:</b> icenciatura em<br/>
                    Educação Física<br/>
                    <b>Especialização:</b> ducação Física na<br/>
                    Educação Básica
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="/images/ensino/prof/prof12.png" alt="teste" class="dif-icon">
                 <h5>Nei Soares</h5>
                 <h6>Professora de Língua Portuguesa</h6>
                <p>
                    <b>Graduação:</b> Letras<br/>
                    <b>Especialização:</b> Marketing
                </p>
            </div>
        </div>

        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 text-center">
                <img src="/images/ensino/prof/prof13.png" alt="teste" class="dif-icon">
                 <h5>Valéria Pedrochi</h5>
                 <h6>Professora de Literatura</h6>
                <p>
                    <b>Graduação:</b> História<br/>
                    <b>Especialização:</b>istória do Brasil<br/>
                    <b>Mestrado::</b>História
                </p>
            </div>

            <div class="col-md-4 text-center">
                <img src="/images/ensino/prof/prof14.png" alt="teste" class="dif-icon">
                 <h5>William Versori</h5>
                 <h6>Professora de Arte</h6>
                <p>
                    <b>Graduação:</b> Geografia e Música<br/>
                    <b>Especialização:</b>Gestão e Educação<br/>
                    Ambiental
                </p>
            </div>
        </div>
    </div>


    <h3 class="text-center p-2 rounded-pill mb-5 ">Equipe Pedagógico/Militar</h3>
    <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 text-center">
            <img src="/images/ensino/prof/cord1.png" alt="teste" class="dif-icon">
            <h5>Mauro de Souza</h5>
            <h6>Diretor Comandante Militar</h6>
            <p>
                <b>Graduação:</b> Letras<br/>
                <b>Especialização:</b> estão de Pessoas e<br/>
                Magistério Superior
            </p>
        </div>

        <div class="col-md-3 text-center">
            <img src="/images/ensino/prof/cord2.png" alt="teste" class="dif-icon">
            <h5>Andrea Avelar</h5>
            <h6>Diretora Pedagógica</h6>
            <p>
                <b>Graduação:</b> Letras<br/>
                <b>Especialização:</b>inguística Aplicada<br/>
                ao Ensino de Língua Portuguesa -<br/>
                Psicopedagogia Institucional e Clínica -<br/>
                Administração e Supervisão Escolar -<br/>
                Educação Especial<br/>
                <b>Mestrado:</b> Letras/Estudos Literários
            </p>
        </div>

        <div class="col-md-3 text-center">
            <img src="/images/ensino/prof/cord3.png" alt="teste" class="dif-icon">
            <h5>Rumi Sonoda</h5>
            <h6>Supervisora de Turma</h6>
            <p>
                <b>Graduação:</b> Bacharel em Direito<br/>
                
            </p>
        </div>

        <div class="col-md-3 text-center">
            <img src="/images/ensino/prof/cord4.png" alt="teste" class="dif-icon">
            <h5>Girley Biscaia</h5>
            <h6>Secretário Pedagógico</h6>
            <p>
                <b>Graduação:</b> Administração<br/>
                
            </p>
        </div>
    </div>
</div>
