body {
  background: rgba(255, 255, 255, 0.993);
  margin-top: 4rem;
}


a:hover {
  text-decoration: underline;
}

.custom-navbar {
  background-color: whitesmoke;
  font-weight: 500;
  line-height: 1.8rem;
}
.custom-navbar a {
  color: rgb(15, 12, 12);
  font-weight: 500;
}
.custom-navbar a:hover {
  text-decoration: underline;
}

/* .descr-top {
  background-image: url("/images/topo_home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0rem;
  margin-bottom: 0rem;
  padding: 90px;
  color: #fff;
} */

@media only screen and (min-width: 900px) {

  .card-home {
    max-width: 16rem;
    border: none;
    /* padding-right: 1em;
    padding-left: 1em; */
  }
  .card-left {
    float: right;
  }
  .dif-icon {
    max-width: 80px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 899px) {
  
  .card-home {
    max-width: 20rem;
    padding-right: 0.5em;
    padding-left: 0.5em;
    border: none;
  }
  .dif-icon {
    width:0%;
    margin-right: 10px;
  }
}
