<nav class="navbar navbar-expand-lg navbar-dark  indigo fixed-top py-3 custom-navbar">
    <div class="container">
        <a class="navbar-brand" href="#">CVM </a>
        <!-- Collapse button -->
        <button class="navbar-toggler third-button" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent22" aria-controls="navbarSupportedContent22" aria-expanded="false"
            aria-label="Toggle navigation">
            <div class="animated-icon3"><span></span><span></span><span></span></div>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent22">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contato">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Posts</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ADM
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/users/login">Login</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/notes/new-note">Register</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</nav>