<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Nova Categoria</h2>
                {{>_msg}}
            </div>
            <a href="/categorias/list-categorias">
                <div class="p-2">
                    <button class="btn btn-outline-primary ">
                        Listar
                    </button>
                </div>
            </a>
        </div>
        <hr>

        {{!-- Formulário --}}
        <form action="">
            <div class="form-group col-md-6">
                <label><span class="text-danger">*</span> Título</label>
                <input name="title" type="text" class="form-control" id="title" placeholder="Título da categoria">
            </div>
            









        </form>





    </div>