<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Editar Categoria</h2>
                {{>_msg}}
            </div>
            <a href="/categorias/list-categorias">
                <div class="p-2">
                    <button class="btn btn-outline-primary ">
                        Listar
                    </button>
                </div>
            </a>
        </div>
        <hr>

        <form action="/categorias/update-categoria/{{categorias.id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">


            <div class="form-group col-md-6">
                <label><span class="text-danger">*</span> Título</label>
                <input name="title" type="text" class="form-control" value="{{categorias.title}}">
            </div>

            <p>
                <span class="text-danger">* </span>Campo obrigatório
            </p>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>
</div>