<div class="jumbotron jumbotron-fluid card card-image" style="background-image: url(/images/sobre/banner-intituto.png); 
background-size: cover; background-repeat: no-repeat; background-position: center; height: 20rem;"></div>
{{!-- 
<div class="jumbotron jumbotron-fluid py-3">
    <img src="/images/sobre/banner-intituto.png" class="img-fluid" alt="Imagem do topo">
</div> --}}
{{!-- texto --}}
<div>
  <div class="container area-sobre-home">
    <h1 class="text-center p-2 rounded-pill mb-5 ">Estrutura Física</h1>    
    <div>
      <p>
        Localizado em uma área ampla, com prédio moderno e instalações seguras, o Colégio Vila Militar Unicampo está estruturado de forma que possa
        atender às demandas dos estudantes, professores, coordenadores e diretores. Encontrando-se estruturado da seguinte forma:
      </p>
      </div>
  </div>
</div>

{{!-- Lista de professores bd --}}
<div class="container">
  <div class="area-sobre">
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 ">
        <h4 class="">Secretaria</h4>
          <p>
              A Secretaria é o órgão de apoio às Diretorias, responsável pelos</br>
              controles e registros acadêmicos, por isso realiza as matrículas e as</br>
              informações desde o ingresso do estudante até a conclusão do curso</br>
              (registros dos certificados). Também tem como responsabilidade</br>
              toda a documentação junto ao NRE para autorização, </br>
              regulamentação e funcionamento do Colégio. O sistema utilizado
              pela secretaria é realizado por meio eletrônico o que possibilita o
              acompanhamento da vida estudantil sendo: controle de</br>
              documentos de matrícula, controle de notas/frequência por</br>
              disciplina, requerimento de documentos por parte do aluno, tais</br>
              como: declarações, históricos e boletins.</br>
          </p>
      </div>
      <div class="col-md-6 mt-md-0 mt-3 area-imagem-sobre">
            
      </div>
    </div>     
  </div>

  <hr/>

  <div class="area-sobre">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3 area-imagem-sobre">
            
      </div>
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 ">
        <h4 class="">Biblioteca</h4>
          <p>
              Na biblioteca, o sistema informatizado possibilita o cadastro do</br>
              acervo, a emissão de relatórios diversos, o controle dos empréstimos</br>
              e devoluções, a pesquisa de itens e de livros. No portal do Colégio Vila</br>
              Militar Unicampo, na biblioteca online, o aluno pode consultar o</br>
              acervo, fazer a reserva e a renovação de livros emprestados.</br>
          </p>
      </div>      
    </div>     
  </div>

  <hr/>

  <div class="area-sobre">
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 ">
        <h4 class="">Departamento Financeiro</h4>
          <p>
             No departamento financeiro o sistema informatizado possibilita o</br>
            controle das mensalidades dos alunos e das contas da Instituição. O</br>
            Colégio Vila Militar Unicampo vem aplicando todos os esforços para</br>
            avançar no emprego da Tecnologia da Informação em suas</br>
            atividades diárias.</br>
          </p>
      </div>
      <div class="col-md-6 mt-md-0 mt-3 area-imagem-sobre">
            
      </div>
    </div>     
  </div>

  <hr/>
  
  <div class="area-sobre">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3 area-imagem-sobre">
            
      </div>
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 ">
        <h4 class="">Portal do Estudante</h4>
          <p>
              No portal existe um espaço do estudante, que é acessado por meio</br>
              de senha pessoal, no qual ele pode receber material das aulas</br>
              preparadas pelos professores. Também faz solicitação de reserva de</br>
              livros e solicitação de documentos à secretaria, além de acompanhar</br>
              as notas e a frequência.</br>
          </p>
      </div>      
    </div>     
  </div>

  <hr/>

  <div class="area-sobre">
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 ">
        <h4 class="">Laboratório de Informática</h4>
          <p>
              aluno tem acesso aos computadores do laboratório de</br>
              informática todos os dias, de segunda à sexta-feira, no turno</br>
              matutino e vespertino, exceto nos horários em que os laboratórios</br>
              estão sendo utilizados para aulas. O acesso é livre, não há controle do</br>
              tempo de permanência e não há custo para acessar os</br>
              computadores. No laboratório há um funcionário para atendimento</br>
              das necessidades dos alunos. Neste, os alunos utilizam</br>
              computadores, com rede de Internet Banda Larga. Os alunos</br>
              também podem acessar os computadores existentes na biblioteca,</br>
              para pesquisa sobre o acervo, mas também para digitação de</br>
              trabalhos e outras pesquisas.</br>
          </p>
      </div>
      <div class="col-md-6 mt-md-0 mt-3 area-imagem-sobre">
            
      </div>
    </div>     
  </div>

  <hr/>

  <div class="area-sobre">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3 area-imagem-sobre">
            
      </div>
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 ">
        <h4 class="">Conexão Wifi</h4>
          <p>
            O Colégio Vila Militar Unicampo, se considera um grande</br>
            laboratório de informática, por disponibilizar rede WiFi por todo o</br>
            campus. A Internet, possui boa velocidade e encontra-se livre para</br>
            estudantes e professores. O acesso pode ocorrer por Notebook,</br>
            tablete ou celular.</br>
          </p>
      </div>      
    </div>     
  </div>
</div>