{{!-- Imagem topo - substituir por carousel --}}
<div class="jumbotron jumbotron-fluid py-3">

    <h4 class="text-center text-muted text-uppercase font-weight-bold">Colégio Vila Militar Unicampo</h4>
    <hr>
    <img src="/images/home/topo_home.png" class="img-fluid" alt="Imagem do topo">
</div>
{{!-- {{>_carousel-home}} --}}


{{!-- cards para as paginas de ensino --}}
<div class="container">

    <div class="row  mb-4">

        <!-- Grid column -->
        <div class=" col justify-content-end ">
            <!--Card-->
            <div class="card card-left card-home overlay ">
                {{!-- <div class="card-header">medio</div> --}}
                <!--Card image-->
                <div class="view">
                    <a href="#">
                        <img src="/images/home/card-1.png" class="card-img-top card-home " alt="photo">
                    </a>

                </div>
            </div>
            <!--/.Card-->
        </div>

        <!-- Grid column -->
        <div class=" col">
            <!--Card-->
            <div class="card card-home overlay">
                {{!-- 
                <div class="card-header">medio</div> --}}
                <!--Card image-->
                <div class="view">

                    <a href="#">
                        <img src="/images/home/card-2.png" class="card-img-top card-home" alt="photo">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
            <!--/.Card-->
        </div>
    </div>


</div>

{{!-- Diferenciais --}}
<div class="jumbotron">



    <div class="container">
        <h4 class="text-center  p-2 rounded-pill mb-5 ">Diferenciais</h4>
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <div class="d-flex">
                    <img src="/images/home/icons/civico-militar-icon.png" alt="teste" class="dif-icon">
                    <div>
                        <h6 class="text-uppercase font-weight-bold" style="color: rgb(82, 130, 235);">EDUCAÇÃO CÍVICO
                            MILITAR
                        </h6>
                        <p>Disciplina ministrada em sala de aula com princípios militares implantados na vida civil.</p>
                    </div>

                </div>

                <!-- Content -->


            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <div class="d-flex">
                    <img src="/images/home/icons/laboratorios.png" alt="teste" class="dif-icon">
                    {{!-- <i class="fas fa-flask fa-3x"></i> --}}
                    <div>
                        <h6 class="text-uppercase font-weight-bold" style="color: rgb(82, 130, 235);">LABORATÓRIOS
                            FÍSICOS DE ALTO NÍVEL
                        </h6>
                        <p>Disciplina ministrada em sala de aula com princípios militares implantados na vida civil.</p>
                    </div>

                </div>
                <!-- Grid column -->
            </div>



        </div>

        <div class="row mt-5">
            <div class="col-md-6 mt-md-0 mt-3">

                <div class="d-flex">
                    <img src="/images/home/icons/civico-militar-icon.png" alt="teste" class="dif-icon">
                    <div>
                        <h6 class="text-uppercase font-weight-bold" style="color: rgb(82, 130, 235);">Material didático
                            FTD
                        </h6>
                        <p>Apostilas e Livros Didáticos/paradidáticos
                            atualizados de acordo com os vestibulares
                        </p>
                    </div>

                </div>

                <!-- Content -->


            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <div class="d-flex">
                    <img src="/images/home/icons/laboratorios.png" alt="teste" class="dif-icon">
                    <div>
                        <h6 class="text-uppercase font-weight-bold" style="color: rgb(82, 130, 235);">LABORATÓRIOS
                            FÍSICOS DE ALTO NÍVEL
                        </h6>
                        <p>Disciplina ministrada em sala de aula com princípios militares implantados na vida civil.</p>
                    </div>

                </div>
                <!-- Grid column -->
            </div>
        </div>

    </div>