<div class="container py-5">

    <div class="row ">
        {{#each allPosts}}
        <div class="col-md-4 mb-4">

            <div class="card mb-5 shadow-sm">
                <!--Card image-->
                <div class="view">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                        class="card-img-top" alt="photo">
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-header">
                    <h4 class="text-center py-4">{{title}}</h4>

                </div>
                <div class="card-body text-center">
                    {{description}}
                </div>
                <a href="/posts/post/{{id}}"><button class="btn btn-outline-primary ">ler mais</button></a>
            </div>

        </div>
        {{else}}
        <h4>Não há posts para exibir!</h4>

        {{/each}}
    </div>

</div>